<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-11-05T00:01:22Z</date>
	<key>WorkspacePath</key>
	<string>/Users/heobin/Documents/C++/CodeEval/Q3 ReadMore/Q3 ReadMore.xcodeproj</string>
</dict>
</plist>
